{% extends 'layouts/base.html' %}


{% block content %}
    <div class="card">
        <h1>Project: {{project}}</h1>
        <a href="{% url 'delete_project' project.id %}">delete</a>
    </div>

    <h3>All task the project:</h3>
    {% if c_t == 0 %}
        <div class="card">
            <p>No tasks found.</p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </div>
    {% else %}
        {% for task in tasks %}
        <div class="card">
            <p>{{ task.title }}</p>
            <a href="{% url 'delete_task' task.id %}">delete</a>
        </div>
        {% endfor %}
    {% endif %}

{% endblock content %}
